<%= @game.is_defending.name %> attacked <%= @game.current_turn.name %> 
<br>
<%= @game.player_1.name %> HP: <%= @game.player_1.hp %> 
<br>
<%= @game.player_2.name %> HP: <%= @game.player_2.hp %>
<br>
<%= @game.current_turn.name %>'s turn
<br>
<a href="/attack"> Attack</a>
